@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b3q4md');
  src:  url('fonts/icomoon.eot?b3q4md#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b3q4md') format('truetype'),
    url('fonts/icomoon.woff?b3q4md') format('woff'),
    url('fonts/icomoon.svg?b3q4md#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e93a";
}
.icon-location:before {
  content: "\e947";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
}
