.b-footer{
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    background-color: rgba(221, 233, 166, 0.336);

    &__list{
        list-style: none;
        font-weight: 300;

    }

    &__location{
        margin-left: 125px;
    }

    &__icon{
        color: rgb(156, 156, 156);
        font-size: 35px;
        text-decoration: none;
        cursor: pointer;
        margin-left: 55px;
       

        &:hover{
            color: red;
        }
    }
}