<div class="b-footer">
    <div>
        <ul *ngFor="let horario of this.footer.horario">
            <li class="b-footer__list">{{horario}}</li>
        </ul>
    </div>

    <div>
        <ul *ngFor="let centro of this.footer.centro">
            <li class="b-footer__list">{{centro}}</li>
        </ul>
    </div>

    <div>
        <ul *ngFor="let contact of this.footer.contact">
            <li class="b-footer__list">{{contact}}</li>
        </ul>
    </div>

    <div class="b-footer__location">
        <p>Localízanos en el Mapa</p>
        <a class="icon-location b-footer__icon" role="button" routerLink="/map"></a>
    </div>

</div>