<div class="b-container">
    <div class="b-container__box">
    <img class="b-container__img" src="{{this.Photo1.img}}" alt="{{this.Photo1.imgAlt}}">
    <p class="b-container__text1">{{'sorteo' | translate}}<br><br>{{'texto1' | translate}},<br> {{'texto2' | translate}},<br>{{'texto3' | translate}}</p>
    </div>

    <div class="b-container__box">
        <img class="b-container__img" src="{{this.Photo2.img}}" alt="{{this.Photo2.imgAlt}}">
        <p class="b-container__text2">{{'texto4' | translate}} <br>{{'texto5' | translate}}
             <br>{{'texto6' | translate}}</p>
    </div>

    <div class="b-container__box">
        <img class="b-container__img" src="{{this.Photo3.img}}" alt="{{this.Photo3.imgAlt}}">
        <p class="b-container__text2">{{'texto7' | translate}}<br> {{'texto8' | translate}}<br> {{'texto9' | translate}},
            <br>{{'texto10' | translate}} <br>{{'texto11' | translate}}</p>
    </div>

    <div class="b-container__box">
        <img class="b-container__img" src="{{this.Photo4.img}}" alt="{{this.Photo4.imgAlt}}">
        <p class="b-container__text2">{{'texto12' | translate}},<br> {{'texto13' | translate}}.<br>{{'texto13' | translate}}.
            <br><br> {{'texto14' | translate}}</p>
    </div>
</div>
