.b-container{
    display: flex;
    background-color: rgba(153, 220, 241, 0.178);
    width: 100%;
    height:400px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    margin-top: 50px;

    &__box{
        display: flex;     
        width: 300px;
        height: 400px;
       // border: 1px solid black;
        margin-left: 5px;
    }

    &__img{
        width: 100%;
        height: 200px;
       
    }

    &__text1{
        font-size: 18;
        font-weight: bold;
        position: absolute;
        margin-top: 225px;
        padding-left: 25px; 
    }

    &__text2{
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        margin-top: 210px;
        padding: 15px;
    }
}