.b-search{
    display: inline;
    margin-top: 30px;

    &__button{
        border: 2px solid black;
    }

    &__list{
        list-style: none;
        display: flex;
        font-size: 14px;
        
        
    }
}