<!-- <input [formControl]="search" type="text" placeholder="Búsqueda..."> -->

<div class="b-search">
<h2>{{'search' | translate}}</h2>
<input class="b-search__button"  type="text" [(ngModel)]="filter" (ngModelChange)="onChangeFilter($event)" placeholder="Buscar..." />
<div *ngFor="let country of filteredList">
  <ul class="b-search__list">
    <li> {{ country }} </li>
  </ul>
</div>
</div>