.b-tittle2{
    display: flex;
    justify-content: center;
    //text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
    font-size: 30px;
    background-color: rgba(206, 236, 241, 0.26);
}

.b-ocio{
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__list{
        list-style: none;
    
    &--name{
       font-size: 40px;
       margin-left: 43%;  
    }

    &--img{
    width: 50%;
    height: 300px;
    margin-left: 25%;
    margin-top: 30px;
    }
  }
}

.b-detail{
    display: flex;

    &__button{
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 0.3em 0.8em;
        background: #318aac;
        border-radius: 20px;
        border: 2px solid #318aac;
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        text-decoration: none;

        &:hover{
            box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 137, 172, 0.555);
            text-shadow: 1px 1px 6px rgb(255, 255, 255);
        }

   }

}

.b-button{
    width: 50px;
    border: none;
    border-radius: 20px;
    background-color: rgb(31, 214, 247) ;
    cursor: pointer;
    margin-left: 40px;

    &:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s;
          
    }
}