<section *ngIf="ocioList">
  <div>
    <h2 class="b-tittle2">{{'ocio' | translate}}</h2>
  </div>
<div>
      <button class="b-button" (click)="goBack()">{{'volver' | translate}}</button>
    </div>

<div class="b-ocio" *ngFor="let list of ocioList">
    <ul>
      <li class="b-ocio__list">
        <h3 class="b-ocio__list--name">{{ list.name }}</h3>
        <img class="b-ocio__list--img" src="{{ list.image }}" alt="{{ list.name }}"/>

        <div class="b-detail"> 
            <a class="b-detail__button" role="button" [routerLink]="['/ocio-detail', list.id]" routerLinkActive="active">{{'visitanos' | translate}}</a>
        </div>

      </li>
    </ul> 
  </div>
</section>