
<div class="b-map">
 <!-- <div>
    <label for="latitude">Latitude:</label>
    <input id="latitude" type="number" [(ngModel)]="latitude" placeholder="Latitude">
</div>

<div>
    <label for="longitude">Longitude:</label>
    <input id="longitude" type="number" [(ngModel)]="longitude" placeholder="Longitude">
</div> 
<button (click)="setCenter()">Muéstrame</button> -->
</div>
<br>
<div id="map" class="b-map__size"></div>
<div id="mouse-position"></div>