<section *ngIf="shoppingList">
 <button class="b-button" (click)="goBack()">{{'volver' | translate}}</button>
  <div class="b-tienda"> 
      <ul *ngFor="let shopList of shoppingList" >
        <li class="b-tienda__lista">
          <div data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="900">
          
            <img class="shop" src="{{ shopList.image }}"/>

        </div>

        <div class="b-link">        
          <a class="b-link__page" role="button" [routerLink]="['/shopping-detail', shopList.id]" routerLinkActive="active">{{'meet' | translate}}</a>
          <a class="b-link__oficial " href="{{shopList.tienda}}"><span class="b-link__icon icon-cart"></span>{{'shop' | translate}}</a>
        </div>

        </li>
      </ul>
    </div>
  </section>
