.b-button{
    width: 50px;
    border: none;
    border-radius: 20px;
    background-color: rgb(31, 214, 247) ;
    cursor: pointer;
    margin-left: 40px;

    &:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s;
          
    }
}


.b-tienda{

    &__lista{
        list-style: none;
        
    }
}

.b-link{


    &__page{
        text-decoration: none;
        color: black;

        &:hover{
            border-bottom: 3px solid  rgb(31, 214, 247) ;
           //text-shadow: 2px 12px 8px  black;
        }
    }

    &__oficial{
        text-decoration: none;
        margin-left: 30px;
        color: black;
    
        &:hover{
            border-bottom: 3px solid  rgb(31, 214, 247) ;
            //text-shadow: 2px 12px 8px  black;
              
        }
    }

    &__icon{
        font-size: 14px;
        position: absolute;
        margin-left: 90px;
    }
}

.shop{
    display: flex;
    margin-left: 300px;
    margin-top: 100px;
    width: 50%;
    height: 300px;
    box-shadow: 10px 12px 8px  rgba(0, 0, 0, 0.753);
}




