
<nav class="b-nav">
   <div>
      <img class="b-nav__logo" src="{{logo}}" alt="{{logoAlt}}" />
    </div>
    <div class="b-nav__icons">
      <a class="icon-linkedin b-nav__icons--space" href="https://www.linkedin.com/in/%C3%B3scar-de-la-fuente-toledo-82b75aa3/"></a>
      <a class="icon-twitter b-nav__icons--space" href="https://www.linkedin.com/in/%C3%B3scar-de-la-fuente-toledo-82b75aa3/"></a>
      <a class="icon-instagram b-nav__icons--space" href="https://www.linkedin.com/in/%C3%B3scar-de-la-fuente-toledo-82b75aa3/"></a>
      <a class="icon-facebook2 b-nav__icons--space" href="https://www.linkedin.com/in/%C3%B3scar-de-la-fuente-toledo-82b75aa3/"></a>
    </div>

    <div>
    <ul class="b-list">
      <li><a class="b-list__pages" role="button" routerLink="/home">Home</a></li>
      <li><a class="b-list__pages" role="button" routerLink="/shopping">Shopping</a></li>
      <li><a class="b-list__pages" role="button" routerLink="/ocio">Ocio</a></li>
      <li><a class="b-list__pages" role="button" routerLink="/restauracion">Restaurants</a></li>
      <li><a class="b-list__pages" role="button" routerLink="/contact">About</a></li>
    </ul>
  </div>

 </nav>
