.b-nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;

    &__logo{
        width: 300px;
        height: 200px;
        margin-left: 30px;
    }


    &__icons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        margin-left: 990px;
        margin-top: 40px;
        font-size: 20px;
       

        &--space{
            margin-left: 30px;
            padding: 0px;
            text-decoration: none;
            color: rgb(107, 106, 106);

            &:hover{
                color:  rgb(31, 214, 247);
            }
        }


    }

    .b-list{
        display: flex;
        flex-direction: row;
        position: absolute;
        text-decoration: none;
        list-style: none;
        margin-top: 160px;
        font-family: 'Saira Condensed' ;
        font-size: 16px;

        &__pages{
            font-weight: bold;    
            margin-left: 90px;
            text-decoration: none;
            color: black;

            &:hover{  
                border: 3px solid rgba(31, 215, 247, 0.637) ;
                border-top: none;
            }
        }

    }

}

