<div>
    <button class="b-button" (click)="goBack()">{{'volver' | translate}}</button>
  </div>

<div class="b-about">
    <div>
        <h4 class="b-about__title">{{'h4' | translate}}</h4>
    </div>

    <div>
        <p>{{ 'p1' | translate}}<p>
    </div>

    <div>
        <p>{{ 'p2' | translate}}<br>{{ 'p2/' | translate}}</p>
    </div>

    <div>
        <p>{{ 'p3' | translate}}<br>{{ 'p3/' | translate}}</p>
    </div>

    <div>
        <p>{{ 'p4' | translate}}</p>
        <ul>
            <li>{{'plist/1' | translate}}</li>
            <li>{{'plist/2' | translate}}</li>
            <li>Header y Footer</li>
            <li>{{'plist/3' | translate}}</li>
        </ul>
    </div>

    <div>
        <p>{{ 'p5' | translate}}</p>
        <ul>
            <li>ngx-swiper-wrapper</li>
            <li>ngx-translate</li>
        </ul>
    </div>

    <div>
        <p>{{'p6/1' | translate}}
           <br>  {{'p6/2' | translate}}<br> {{'p6/3' | translate}}</p>
    </div>

    <div>
        <p>{{'p7/1' | translate}} <br>{{'p7/2' | translate}}</p>
    </div>
</div>