.b-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    &__title{
        font-size: 22px;
        text-decoration: underline;
    }
   
}

.b-button{
    width: 50px;
    border: none;
    border-radius: 20px;
    background-color: rgb(31, 214, 247) ;
    cursor: pointer;
    margin-left: 40px;

    &:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s;
    }
}
          
    