
<div class="b-box">
    <div>
    <button class="b-button" (click)="goBack()">{{'volver' | translate}}</button>
    </div>

    <div class="b-box__image">
    <img class="b-box__image--size" src="{{ocioDetail.image}}" alt="{{ocioDetail.name}}">
    </div>
    
   <div class="b-box__text">
    <h4 class="b-box__text--all">{{ocioDetail.description}}</h4>
  </div>

  <div class="b-box__gallery">
    <img class="b-box__gallery--all" src="{{ocioDetail.gallery[0]}}" alt="{{ocioDetail.name}}">
    <img class="b-box__gallery--all" src="{{ocioDetail.gallery[1]}}" alt="{{ocioDetail.name}}">
    <img class="b-box__gallery--all" src="{{ocioDetail.gallery[2]}}" alt="{{ocioDetail.name}}">
    <img class="b-box__gallery--all" src="{{ocioDetail.gallery[3]}}" alt="{{ocioDetail.name}}">
  </div>

    </div>
    
