.b-button{
    width: 50px;
    border: none;
    border-radius: 20px;
    background-color: rgb(31, 214, 247) ;
    cursor: pointer;
    margin-left: 40px;

    &:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s;
          
    }
}

.b-box{

    display: flex;
    flex-direction: column;
    

    &__image{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;

    &--size{
    width: 60%;
    height: 300px;
    }
    
    }

    &__text{
        display: flex;
        justify-content: center;

        &--all{
            font-size: 22px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: bold;
        }
    }

    &__gallery{
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--all{
            width: 80%;
            height: 400px;
            margin-top: 40px;
            margin-left: 10%;
        }
    }

}

