.b-title{
    display: flex;
    justify-content: center;
    

    &__principal{
        
        animation-name: efect;   
        animation-duration: 3s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        
    }
    
    @keyframes efect {

        from {
            transform: translate(-300%, 0);
            opacity: 0%;
            
          }
          to {
            transform: translate(0%, 0);
            opacity: 100%;
            background-color:rgba(221, 233, 166, 0.336);
            
            //transform: translate(-40%, 0);
          }    
    }

}

.b-swiper{
    box-shadow: 14px 12px 8px black;
    margin-top: 40px;

    &__img{
        margin-left: 125px; 
        width: 80%;
        height: 500px;
    }
}