  <div class="b-title">
    
  <h1 class="b-title__principal b-title__principal--efect2 ">¡¡¡ {{ 'Nuevo' | translate}} CC.AVENTURA!!!</h1>
</div>

  <swiper class="b-swiper" [config]="config">
    <div *ngFor="let sliders of slider">
        <div fxLayout="colum" fxLayoutAlign="center center">
            <img class="b-swiper__img" src="{{sliders}}">
          
      
    </div>
</div>
  </swiper>  

  
  