.b-button{
    width: 50px;
    border: none;
    border-radius: 20px;
    background-color: rgb(31, 214, 247) ;
    cursor: pointer;
    margin-left: 40px;

    &:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s;
          
    }
}

.b-text{
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: rgba(206, 236, 241, 0.26);
    
    &--icon{
        margin-right: 10px;
        color: rgb(240, 187, 15);
    }

    &--icon2{
        position: absolute;
        margin-left: 620px;
        color: rgb(240, 187, 15);
    }
}

.b-restauracion{

    &__list{
        list-style: none;
    }
}

.logo-food{
    display: flex;
    margin-left: 300px;
    margin-top: 100px;
    width: 50%;
    height: 300px;
    box-shadow: 10px 12px 8px  rgba(0, 0, 0, 0.753);
}

.b-text2{
    display: flex;
    justify-content: center;
    margin-top: 100px;


    &__form{
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
    }
    
}


.b-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    
    &__pretty{
        border: 2px solid rgb(31, 214, 247);
    }

    &__borders{
        border: none;
        background-color: rgba(0, 0, 0, 0.185);
    }

}

.button-send{
    cursor: pointer;
}

.b-gif{
    display: flex;
    position: absolute;
    width: 400px;
    height: 300px;
    margin-left: 600px;
    margin-top: 130px;
}