
<section *ngIf="restauracionList">
  <button class="b-button" (click)="goBack()">{{'volver' | translate}}</button>
  <img class="b-gif" src="https://media.giphy.com/media/daLw3QnTCkDjG/source.gif" alt="gif comida">
  <app-search-restauracion></app-search-restauracion>

  <h4 class="b-text "><span class="b-text--icon icon-spoon-knife"></span><span class=" b-text--icon2 icon-spoon-knife"></span>{{'titlerest' | translate}}</h4>

   <div class="b-restauracion">  
    <ul *ngFor="let foodList of restauracionList" >
      <li class="b-restauracion__list">

        <div data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="900">
        <img class="logo-food" src="{{ foodList.image }}" alt="{{ foodList.name }}"/>
      </div>

      </li>
    </ul>
  </div>
</section>

<div class="b-text2">
 <p class="b-text2__form">{{'form' | translate}}</p>
</div>


 <div class="b-form">

<form class="b-form__pretty" [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <fieldset class="b-form__borders">
    <label for="id">Id: </label>
    <input type="text" id="id" formControlName="id"/>

    <div *ngIf="!myForm.get('id').valid &&
          (myForm.get('id').dirty || submitted)">
    Input Error
    </div>
  </fieldset>

  <fieldset class="b-form__borders">
    <label for="name">Name: </label>
    <input type="text" id="name" formControlName="name"/>

    <div *ngIf="!myForm.get('name').valid &&
          (myForm.get('name').dirty || submitted)">
    Input Error
    </div>
  </fieldset>


  <fieldset class="b-form__borders">
    <label for="image">Image: </label>
    <input type="text" id="image" formControlName="image"/>

    <div *ngIf="!myForm.get('image').valid &&
          (myForm.get('image').dirty || submitted)">
    Input Error
    </div>
  </fieldset>

  <button class="button-send" type="submit" [disabled]="!myForm.valid">{{'send' | translate}}</button>

</form>

</div>
<!-- 
{{showModal}} -->
<app-modal-restauracion [(showModal)]="showModal">
  <div class="modal-header">
    <h1>{{'modaltitle' | translate}}</h1>
  </div>
  <div class="modal-body">
    <h3>{{'modalrest' | translate}}</h3>
    <button  routerLink="/home">{{'volverhome' | translate}}</button>
  </div>
</app-modal-restauracion>