
<div class="b-detail">   
    <button class="b-button" (click)="goBack()">{{'volver' | translate}}</button>   
<img class="b-detail__img" src="{{shoppingDetail.image1}}">
</div>

<div>
    <p class="b-text">{{shoppingDetail.history}}</p>
</div>

<div>
<img class="b-detail__img" src="{{shoppingDetail.image2}}" alt="{{shoppingDetail.name}}">
</div>