.b-button{
    width: 50px;
    border: none;
    border-radius: 20px;
    background-color: rgb(31, 214, 247) ;
    cursor: pointer;
    margin-left: 40px;

    &:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s;
          
    }
}


.b-detail{

    &__img{
        width: 100%;
        height: 500px ;
        margin-top: 50px;
    }
}

.b-text{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
