.b-select{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 50%;

    &__textLanguage{
        font-weight: bold;
        background-color:  rgba(221, 233, 166, 0.336) ;
    }
    
}

