<div class="b-select">
<label>
    <p class="b-select__textLanguage">{{'languagetext' | translate}}</p>
    <select  #langSelect (change)="changeLang(langSelect.value)">
        <!-- <img src="assets/img/spain.png"> -->
        <option *ngFor="let lang of langs" [value]="lang">
            {{lang}}
        </option>
    </select>
 </label>
</div>
<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>